/* Style Sheet If You Build It (table), They Will Come */
/* Name: Aaron Potter, April 8th 2021                                       */

/* Gradient target HTML body element tag */

html {
    background-image: linear-gradient(to bottom right, rgb(87, 75, 194),rgb(255, 0, 179), rgb(161, 161, 45));
}

/* css target tableStyle class in HTML */

.tableStyle {
    border: 5px;
    border-color: black;
    width: 1000px;
}

.row1 {
    background-color: blanchedalmond;
    opacity: 0.5;
}

.row2 {
    background-color: rgb(108, 32, 180);
    opacity: .9;
}

.row3 {
    background-color: rgb(177, 197, 197);
    opacity: .8;
}

.row4 {
    background-color: rgb(108, 32, 180);
    opacity: .9;
}

.row5 {
    background-color: rgb(177, 197, 197);
    opacity: .8;
}

/* css target HTML Table caption tag */

caption {
    font-size: 2em;
    color: rgb(240, 187, 187);
}

/* css target HTML Table thead tag */
 
 thead {
     text-emphasis-color: black;
 }
 
/* css target HTML Table tfoot tag */

td {
    margin: 0px;
}

table {
    padding-bottom: 40px;
}

tfoot {
    background-color: rgb(248, 217, 171);
    opacity: .6;
    margin: 0px;
    padding: 30px;
}
 
/* Add a pseudo-class selector (page 320) */
/* For example --  :nth-child(even)       */
 
 tbody tr td a:link {
     color: rgb(48, 46, 46);
     text-decoration: none;
 }

 tbody tr td a:hover {
     color: chocolate;
 }
 
 
/* use colgroup */
/* Week 3, Wednesday Video Lesson Chapter 8 folder - Table Column Group, page 173 */

colgroup {
    opacity: .9;
}