
/**************************************************************************************************************
  
*** MODIFICATION LOG ***

#Original Author: Aaron Potter                                       
#Date Created: April 7, 2021 at 12:26 PM                                        
#Version: 1.0                                                 
#Date Last Modified: 10/01/2021                               
#Modified by: Aaron Potter                                           
#Modification log: 

  Version 1.0 - 10/01/2021 - Changed the form gradient to a non gradient background-color
  
**************************************************************************************************************/



	 
#innerwrapper {	

	background: rgba(97, 119, 83, 0.8);
	border-radius: 100%;
	max-width: 70%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 30px;
}

html {
	background-image: url("../images/shoshone-falls.jpeg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
}

h1 {
	font-family: 'Anton', sans-serif;
	font-size: 4em;
}

h2 {
	font-family: 'berkshire_swashregular';
	font-size: 2em;
	font-style: italic;
}

@font-face {
    font-family: 'berkshire_swashregular';
    src: url('../fonts/webfontkit/berkshireswash-regular-webfont.woff2') format('woff2'),
         url('../fonts/webfontkit/berkshireswash-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

main {
	background: linear-gradient(to right, #FFFFFF, #F0F9E6);
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
	font-family: Arial, Helvetica, sans-serif;
}

form {
	background-color: #F0F9E6;
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
	font-size: 1.25em;
	font-family: Arial, Helvetica, sans-serif;
}

span {
	color: rgb(119, 11, 11);
}

img.addrightmargin {
	float: left;
	border-radius: 50%;
}

.addrightmargin {
	margin-right: 10%;
}

nav {
	background-color: antiquewhite;
}

nav ul {
	list-style-type: none;
	font-size: 1.5em;
}

nav ul li {
	display: inline-block;
}

/* unvisited link */
a:link {
	color: rgb(0, 81, 128); 
	text-decoration: none;
}
  
 
a:hover {
	color: rgb(124, 94, 109);
}

a:active {
	color: rgb(124, 94, 109);
}

.social {
 	list-style-type: none;
 	padding-left: 75px;
	float: left;
	color: #000000
}
.social:hover {
   color: #383c72
}

.image:hover {
	color:azure;
}

fieldset {
	box-sizing: 1em;
}

textarea {
	width: 760px;
    height: 100px;
}

.btn {
	margin-left: 20px;
}

.socialwrap {
	margin-left: 12%;
}

thead > tr > th {
	color: white;
}

caption {
	color: rgb(0, 0, 0);
}

#formContainer {
	border: solid black;
	padding: 10px;
	margin: 20px;
	border-radius: 2em;
}

.programProgression {
	max-width: 1200px;
}